.hero {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  background-color: #f0f4ff; /* simple background */
}

.image {
  border-radius: 50%;
  overflow: hidden;
  height: 250px;
  box-shadow: rgba(0, 0, 255, 0.3) 0px 4px 12px;
  width: 250px;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.hero-name {
  font-size: 3.5rem;
  font-weight: bold;
  color: #4e5ef8; /* simple text color */
  margin: 0;
}

.hero-title {
  font-size: 1.2rem;
  color: #555;
  margin-top: 10px;
}

.hero-desc {
  font-size: 1rem;
  color: #666;
  max-width: 700px;
  margin: 15px auto 30px;
}

.hero-buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.btn {
  padding: 6px 12px;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.github {
  background-color: #181717;
}
.linkedin {
  background-color: #0077b5;
}
.leetcode {
  background-color: #f48024;
}

/* Responsive */
@media (max-width: 768px) {
  .hero-name {
    font-size: 2rem;
  }
  .hero-title {
    font-size: 1rem;
  }
  .hero-desc {
    font-size: 0.9rem;
  }
}

@media (max-width: 410px) {
  .hero-buttons {
    flex-direction: column;
  }
}
@media (max-width: 960px) {
  .hero {
    flex-direction: column;
    gap: 2rem;
  }
}
