/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  /* background-color: ; */
  color: #333;
  line-height: 1.6;
  height: 100%;
}

section {
  padding: 20px;
  padding-top: 5rem;
  min-height: 100vh;
}